html,
body {
  height: 100%;
  font-family: 'Open Sans', sans-serif !important;
  background: #F7F7F7;
  color: #333333;
}

.navbar-right .fa {
    font-size: 19px;
}

#new-post {
    display: none;
    font-size: 13px;
    padding: 4px 10px 4px 10px;
    min-height: 20px;
    margin-bottom: 5px;
    height: 39px;
    background-color: #F4F9FC;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

#new-post .new-post-message {
    margin-top: 4px;
    font-weight: bold;
    margin-left: auto;
    margin-right: auto;
    text-align: center;
}

#new-post .new-post-by {
    font-weight: bold;
}


#chapstream-container {
    padding-top: 60px;
}

code {
  font-size: 80%;
}

#chapstream-timeline {
    margin-top: 10px;
}

/*
 * Override Bootstrap's default container.
 */

@media (min-width: 1200px) {
  .container {
    width: 970px;
  }
}

textarea {
    resize: none;
}

#chapstream-timeline form {
    margin-bottom: 30px;
}

#chapstream-timeline form .receivers {
    display: none;
}

.empty-timeline {
    text-align: center;
    font-size: 20px;
    padding: 10px;
}

.empty-timeline .fa-smile-o {
    font-size: 50px;
}
.post-form-control {
    padding-bottom: 10px;
}

.selectize-input {
    font-size: 12px !important;
    border-radius: 0 !important;
}

.selectize-control.multi .selectize-input > div {
    border-radius: 0 !important;
    background: #008cba !important;
    color: #FFF !important;
}

#chapstream-timeline #post-form {
    margin-bottom: 5px;
}

#posts {
    min-height: 20px;
    margin-bottom: 20px;
    background-color: #FFFFFF;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.post {
    border-bottom: 1px solid #f5f3f1;
}

.align-post {
    margin-left: 54px;
    margin-top: -74px;
}

/*.post:hover {
    background: #F4F9FC;
} */

.post-metadata {
    padding: 10px 10px 1px 10px;
}

.post-content {
    font-size: 13px;
    padding: 1px 10px 4px 10px;
}

.profile-header {
    border: 1px solid #e6e3e1;
    background: #FFFFFF;
}

.post-metadata .user {
    font-size: 15px;
    font-weight: bold;
}

.user-image {
    padding: 10px;
}

.user-image img {
    width: 50px;
    height: 50px;
}

.post-metadata .control {
    display: none;
}

.post-metadata .control i {
    color: #B6B6B6;
}

.post-metadata .control .dropdown-menu {
    min-width: 120px !important;
}

.post-metadata .control i:hover {
    color: #333333;
}

.post-metadata .createdat {
    font-weight: lighter;
    font-size: 10px;
}

.post-edit-box {
    padding: 0 11px 0 11px;
}

.post-edit-form-control {
    padding-top: 5px;
}

.post-edit-cancel {
line-height: 30px;
margin-left: 10px;
font-weight: lighter;
font-size: 12px;
}

.post-form-control {
    display: none;
}

.post-char-count {
    line-height: 30px;
    margin-right: 10px;
    font-weight: lighter;
    font-size: 12px;
}

.chapstream-rightbar {
    padding: 10px;
    min-height: 20px;
    margin-top: 10px;
    background-color: #FFFFFF;
    border: 1px solid #e8e8e8;
    border-radius: 0;
    -webkit-box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
    box-shadow: 0 1px 1px rgba(0, 0, 0, 0.05);
}

.gravatar-rightbar {
    height: 50px;
    width: 50px;
}

.rightbar-profile .user {
    font-size: 13px;
    font-weight: bold;
}

.horizontal-ul {
    list-style: none;
    padding-left: 0;
    min-height: 50px;
}

.horizontal-ul li {
    margin-left: 5px;
    display: inline;
    float: left;
}

.post-footer a {
    color: #333;
}

.post-footer ul {
    font-size: 13px;
    font-weight: lighter;
    min-height: 20px;
    padding-left: 5px;
    padding-right: 5px;
}

.post-social {
    font-size: 13px;
    padding: 0px 10px 0px 10px;
}

.comments {
    margin-bottom: 5px;
}

.comment {
    padding-top: 3px;
    padding-bottom: 3px;
}
.comment-cancel {
    line-height: 30px;
    margin-left: 10px;
    font-weight: lighter;
    font-size: 12px;
}

.comment-box {
    display: none;
    margin-top: 5px;
}

.comment-form {
    margin-bottom: 10px;
}

.comment-form-control {
    padding-bottom: 1px;
}

.comment-char-count {
    line-height: 30px;
    font-weight: lighter;
    font-size: 12px;
}

.comment-content {
    margin-left: 21px;
    margin-top: -18px;
}

.comment-box-seperator {
    margin-bottom: 5px;
}

.more-comments {
    padding-bottom: 6px;
    margin-left: 20px;
}

.post-footer .horizontal-ul {
    margin-bottom: 0;
}

.comment-edit {
    color: #333333;
    margin-left: 5px;
}

.comment-content ul.dropdown-menu {
    min-width: 55px !important;
}

.comment-content .dropdown-menu>li>a {
    padding: 5px;
}

/* Like related styles */
.users-liked {
    margin-bottom: 5px;
}

.user-liked-item {
    color: #BE2A38;
}

/* Group related styles */
.group-header {
    border: 1px solid #e6e3e1;
    background: #FFFFFF;
    padding-left: 10px;
    padding-right: 10px;
    padding-bottom: 10px;
    margin-bottom: 15px;
}

.group-header .name {
    font-weight: bold !important;
}

.group-header .subscriber-count,
.group-header .summary {
    font-size: 13px;
}

.group-header .groupsubs-status {
    margin-top: -28px;
}