<div id="posts" catch-new-post>
    <div ng-if='posts.length == 0' class='empty-timeline'>
        <i class="fa fa-smile-o"></i>
        <div ng-if="user.name == currentUser">
            Nothing to show! You should add some friends or write something!
        </div>
        <div ng-if="user.name != currentUser">
            Nothing to show!
        </div>
    </div>
    <div class="post" ng-repeat="post in posts" post-events>
        <div class='user-image'>
            <img src='https://en.gravatar.com/userimage/1424675/f67ae3a96102d9db90315f67b6515613.jpg'/>
        </div>
        <div class='align-post'>
            <div class="post-metadata">
                <span class="user">{{ post.name }}</span>
                <span class="createdat" calc-from-now ts="{{ post.created_at }}">{{ calcTime }}</span>
                <span ng-if="post.name == currentUser" class="dropdown control pull-right">
                    <a data-toggle="dropdown" href="#">
                        <i class="fa fa-angle-down"></i>
                    </a>
                    <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                        <li><a href="#" post-edit>Edit</a></li>
                        <li><a href="#" delete-comment>Delete</a></li>
                    </ul>
                </span>
            </div>
            <div class="post-edit-form"></div>
            <div class="post-content">
                {{ post.body }}
            </div>
            <div class="post-footer">
                <ul ng-switch on="post.users_liked.liked" class="horizontal-ul">
                    <li showCommentBox><a href="#" show-comment-box><i class="fa fa-comments"></i></a></li>
                    <li>&middot;</li>
                    <li ng-switch-default><a href="#" like-post><i class="fa fa-heart"></i></a></li>
                    <li ng-switch-when="true"><a href="#" unlike-post><i class="fa fa-heart user-liked-item"></i></a></li>
                    <li>&middot;</li>
                    <li><a href="#"><i class="fa fa-retweet"></i></a></li>
                </ul>
            </div>
            <div class="post-social" id="post-social-{{ post.post_id }}" catch-new-like>
                <div class="users-liked">
                    <span ng-if="post.users_liked.users[0]">
                        <a href="{{ post.users_liked.users[0].name }}">
                            {{ post.users_liked.users[0].screen_name }}
                        </a>
                    </span>
                    <span ng-if="post.users_liked.count > 2">, </span>
                    <span ng-if="post.users_liked.count == 2"> and </span>
                    <span ng-if="post.users_liked.users[1]">
                        <a href="{{ post.users_liked.users[1].name }}">
                            {{ post.users_liked.users[1].screen_name }}
                        </a>
                    </span>
                    <span ng-if="post.users_liked.count >= 3">, </span>
                    <span ng-if="post.users_liked.users[2]">
                        <a href="{{ post.users_liked.users[2].name }}">
                            {{ post.users_liked.users[2].screen_name }}
                        </a>
                    </span>
                    <span ng-if="post.users_liked.count > 3"> and </span>
                    <a ng-if="post.users_liked.count > 3" href="#">{{ post.users_liked.count }} others</a>
                    <span ng-if="post.users_liked.users[0]"> liked.</span>
                </div>
                <div class="comments" ng-controller="CommentCtrl">
                    <div class="comment" ng-repeat="comment in post.comments.comments">
                        <div ng-if="$index == 2 && post.comments.count > 3" class="more-comments">
                            <a href="#" more-comments>{{ post.comments.count - 3 }} more comments</a>
                        </div>
                        <div class="comment-icon"><i class="fa fa-comment"></i></div>
                        <div class="comment-edit-form"></div>
                        <div class="comment-content">
                            "{{ comment.body }}"
                            <span> - </span>
                            <a ng-if="comment.fullname" href="/{{ comment.name }}">{{ comment.fullname }}</a>
                            <a ng-if="!comment.fullname" href="/{{ comment.name }}">{{ comment.name }}</a>
                            <span class="dropdown">
                                <a data-toggle="dropdown" href="#" class="comment-edit" ng-if="comment.name == currentUser">
                                    <i class="fa fa-pencil"></i>
                                </a>
                                <ul class="dropdown-menu" role="menu" aria-labelledby="dLabel">
                                    <li><a href="#" edit-comment>Edit...</a></li>
                                    <li><a href="#" delete-comment>Delete...</a></li>
                                </ul>
                            </span>
                        </div>
                        <div ng-if="post.comments.length == $index + 1" class="comment-box-seperator">
                    </div>
                </div>
                <div class="comment-box">
                    <form role="form">
                        <textarea class="comment-form form-control" rows="1" count-char
                            ng-model="commentContent" placeholder="Write your comment" autosize-comment></textarea>
                        <div class="comment-form-control">
                            <a class="comment-cancel pull-right" href="#" comment-cancel>Cancel</a>
                            <button type="submit" class="pull-right btn btn-primary btn-xs" post-comment>Post</button>
                            <span class="pull-left comment-char-count">{{ restCharCount }}</span>
                        </div>
                    </form>
                </div>
            </div>
        </div>
    </div>
</div>