<div id="chapstream-timeline">
    <div ng-include="'/static/application/templates/partials/postform.html'"></div>
    <div id="new-post" count-new-post>{{ new_post_count }} new posts</div>
    <div id="posts" catch-new-post>
        <div class="post" ng-repeat="post in posts">
            <div class="post-metadata">
                <span class="user">{{ post.name }}</span>
                <span class="createdat"calc-from-now ts="{{ post.created_at }}">{{ calcTime }}</span>
            </div>
            <div class="post-content">
                {{ post.body }}
            </div>
        </div>
    </div>
</div>